<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爱电影网</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/thumbnail-gallery.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--导航条-->
<div id="navbar" class="container-fluid">
    <div class="row">
        <!--问题:导航栏不是矩形-->
        <nav class="navbar navbar-inverse"  role="navigation">
                <div class="navbar-header col-md-2">
                    <a class="navbar-brand" href="#">爱电影网</a>
                </div>
                <div class="col-md-3">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">地区<b class="caret"></b></a>
                            <ul id="country" class="dropdown-menu">
                                <li th:each="country : ${countries}">
                                    <a href="#" th:text="${country}"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">导演<b class="caret"></b></a>
                            <ul  class="dropdown-menu">
                                <li th:each="director : ${directors}" >
                                    <a th:text="${director}" href="#"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">类型<b class="caret"></b></a>
                            <ul  class="dropdown-menu">
                                <li  th:each="genre : ${genres}" >
                                    <a th:text="${genre}" href="#"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--style="margin-right: 200px;"-->
                <!--style="margin-left: 70px"-->
                <div class="col-md-4">
                    <form class="navbar-form" role="search" target="iframe">
                        <div class="form-group" >
                            <input id="search" class="form-control" placeholder="Search">
                        </div>
                        <button type="button" class="btn btn-success" onclick="getVagueFilm()">搜索</button>
                    </form>
                   <!-- <iframe id="id_iframe" name="iframe" style="display:none;"></iframe>-->
                </div>
                <!--style="float: right; margin-top: -50px;"-->
                <div class="col-md-3">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>注册</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
                    </ul>
                </div>
        </nav>
    </div>
</div>
<!--导航条-->

<!--点击搜索后显示,默认不显示-->
<div id="getFilms" class="container gallery-container"  style="display: none">
    <div class="tz-gallery">
        <div id="getFilms-row" class="row">

        </div>
    </div>
</div>

<!--轮播-->
<div id="carousel" class="container-fluid" style="margin-top: -20px">
  <div class="row">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div  class="item active">
               <a href="#"> <img style="width: 100%" src="img/poster/interstellar.webp" alt="interstellar"></a>
            </div>
            <div class="item">
                <img href="#" style="width: 100%" src="img/poster/martian.jpg" alt="martain">
            </div>
            <div  class="item" >
                <img href="#" style="width: 100%" src="img/poster/buda.jpg" alt="buda">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
</div>
<!--轮播-->

<!--电影列表展示,固定列表-->
<div id="gallery" class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a>
                        <img src="img/gallery/wolf.webp" alt="truelove" style="height: 345px;width: 100%">
                    </a>
                    <div class="caption">
                        <h3>华尔街之狼</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a>
                        <img src="/img/gallery/lovedrugs.webp" alt="lovedrugs" style="height: 345px;width: 100%">
                    </a>
                    <div class="caption">
                        <h3>爱情与灵药</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="/img/gallery/malena.webp" alt="malena">
                    </a>
                    <div class="caption">
                        <h3>西西里的美丽传说</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a >
                        <img src="/img/gallery/1900.webp" alt="Coast">
                    </a>
                    <div class="caption">
                        <h3>海上钢琴师</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a >
                        <img src="/img/gallery/poetes.webp" alt="Rails">
                    </a>
                    <div class="caption">
                        <h3>死亡诗社</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a>
                        <img src="/img/gallery/manchester.webp" alt="Traffic" style="height: 326px;width: 100%">
                    </a>
                    <div class="caption">
                        <h3>海边的曼切斯特</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a >
                        <img src="/img/gallery/wonder.webp" alt="Rails" style="height: 326px;width: 100%">
                    </a>
                    <div class="caption">
                        <h3>奇迹男孩</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a>
                        <img src="/img/gallery/bird.webp" alt="Traffic" style="height: 326px;width: 100%">
                    </a>
                    <div class="caption">
                        <h3>伯德小姐</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--电影列表展示,固定列表-->

<!--影片详情-->
<div class="container-fluid" style="display: none">
    <div class="row resource-con">
        <div class="col-md-6 col-md-offset-1 fl-img">
            <a class="imglink" href="#" target="_blank"><img src="../static/img/gallery/bird.webp" /></a>
        </div>
        <div class="col-md-6 fl-info">
            <ul>
                <li class="ib"><span>中文名：</span><strong>西部世界</strong></li>
                <li class="ib"><span>英文名：</span><strong>WestWorld</strong></li>
                <li class="ib"><span>地区：</span><strong>美国</strong></li>
                <li class="ib"><span>片长：</span><strong>126分钟</strong></li>
                <li class="ib"><span>语  言：</span><strong>英语</strong></li>
                <li class="ib"><span>上映日期：</span><strong>2016-10-03 周一</strong></li>
                <li class="ib"><span>豆瓣评分：</span><strong>9.2</strong></li>
                <li class="ib"><span>类型：</span><strong>科幻/惊悚/悬疑/西部</strong></li>
                <li id="director"><span>导演：</span>乔纳森·诺兰</li>
                <li id="actor"><span>主演：</span>埃文·蕾切尔·伍德 / 安东尼·霍普金斯 / 艾德·哈里斯 / 詹姆斯·麦斯登 / 英格丽德·波尔索·贝 / 坦迪·牛顿 / 罗德里格·桑托罗 / 珊农·沃德华德 / 米兰达·奥图 / 杰弗里·怀特 / 安吉拉·萨拉弗安 / 库里·格拉汉姆 / 凯尔·柏海莫 / 杰弗里·丹尼尔·菲利</li>
                <a id="favorite">添加到我的收藏</a>
            </ul>
        </div>
    </div>
    <h3>
        <i class="brieftitle">西部世界的剧情简介  · · · · · ·</i>
    </h3>
    <div class="con"><span>J.J. Abrams的Bad Robot公司将目光由广播网转向了有线网——HBO今天宣布购入该公司开发的新剧试映集《西部世界》（Westworld），故事根据1973年的同名科幻电影改编。在遥远的未来，一座巨型高科技成人乐园建成，其中有西部世界，罗马世界，中世纪世界三大主题版块的机器人世界，它提供给游客杀戮与性欲的满足。这座巨大机械乐园的后台监控渐渐失去了对机器人的控制，游客被机器人杀死，所有想</span><a href="javascript:void(0)" class="f2">[展开全文]</a></div>
</div>

<script src="/bootstrap/js/jquery-3.1.1.js"></script>
<script src="/bootstrap/js/home.js"></script>
</body>
</html>